In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("kadai6-1.csv",header=None)
df = df.rename(columns={0:"step",1:"y1",2:"y2"})
df.head()

   step        y1        y2
0   0.0  2.000000  2.000000
1   0.1  1.800000  2.200000
2   0.2  1.584000  2.376000
3   0.3  1.366042  2.514758
4   0.4  1.159119  2.606809